.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero,
.info,
.calculator,
.pricing {
  display: flex;
  width: 100%;
}

.hero {
  height: calc(100vh - 70px);
}
.info,
.calculator,
.pricing {
  height: 100vh;
}

.header {
  font-size: 2.5rem;
  line-height: 5rem;
}

/* Hero - column 1  */
.hero .col1 {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero .col1 .title {
  color: var(--spark-1);
  font-size: 4rem;
  line-height: 4rem;
}

.hero .col1 button {
  margin-top: 2rem;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 3rem;
}

/* Hero - column 2  */
.hero .col2 {
  flex: 1;
  position: relative;
}

.hero .col2 div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
}

/* Section 2 - How it works - column 1  */
.info .col1 {
  flex: 1;
  position: relative;
  text-align: right;
}

.info .col1 div {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
}

/* Section 2  - How it works - column 2  */
.info .col2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  padding: 0 10%;
}

.info .col2 .steps {
  list-style-type: none;
  text-align: left;
  padding: 2rem 3rem;
  margin-top: 2rem;
  border-radius: 30px;
  border-top: 6px solid var(--spark-1);
  box-shadow: 0px 0px 8px var(--shadow-0);
}

.info .col2 .steps .body {
  margin-bottom: 2rem;
}

.info .col2 .step {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--accent-3);
}

.info .col2 .step h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--shadow-0);
}

/* Section 3 - Calculator - column 1 */
.calculator .col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calculator .col1 .container {
  width: 280px;
  text-align: center;
}

.calculator .col1 .body {
  margin-bottom: 2rem;
}

/* Section 3 - Calculator - column 2 */
.calculator .col2 {
  flex: 1;
  position: relative;
}

.calculator .col2 div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
}

/* Section 4 - Pricing - column (same for all) */
.pricing .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pricing .col .price {
  max-width: 350px;
}

.pricing .col .body {
  margin-bottom: 2rem;
}

/* Description (stick)  */
.description {
  display: none;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

/* Mobile */
@media (max-width: 700px) {
  .hero,
  .info,
  .calculator,
  .pricing {
    display: inline-block;
    width: 80%;
  }
  .pricing {
    margin-bottom: 800px;
  }

  .header {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  /* Hero - column 2  */
  .hero .col1 .title {
    color: var(--spark-1);
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .hero .col2 {
    display: none;
  }

  /* Section 2  - How it works - column 2  */
  .info .col1 {
    display: none;
  }

  .info .col2 {
    padding: 0 0;
  }

  .info .col2 .steps {
    padding: 0;
    border-top: none;
    box-shadow: none;
  }

  .description {
    display: inherit;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .step {
    border-bottom: 1px solid var(--accent-0);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
