.root {
  text-align: center;
  position: relative;
}

.root input {
  display: none;
}

.card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 0.5rem;
  border-style: dashed;
  border-color: var(--accent-5);
  background-color: var(--accent-1);
  padding: 0.75rem;
  cursor: pointer;
}

.card:hover {
  text-decoration-line: underline;
}

.card button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.card button:hover {
  text-decoration-line: underline;
}

.dragActive {
  background-color: #ffffff;
}

.activeDragDrop {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--accent-4);
    border-color: var(--accent-8);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
  }
}
