.title {
  font-size: 30px;
  display: grid;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.centerpiece {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1.2fr 1.2fr 1.2fr;
  font-size: 24px;
  margin-top: 5%;
}

.imagepiece {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logocontainer {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/logobackground.jpeg");
  background-position: center;
  background-size: 170%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30%;
}

.textpiece {
  display: flex;
  align-items: center;
  padding: 10%;
}
