.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/logobackgroundv2.jpeg");
  background-size: 490%;
  background-position: center;
}

.gridcontainer {
  display: grid;
  grid-template-rows: 2fr 0.5fr 2.5fr;
  grid-template-columns: 10% 80% 10%;
  height: 100vh;
}

.centerpiece {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.centertext {
  display: flex;
  align-items: center;
}

.centerimage {
  display: flex;
  align-items: center;
  justify-content: center;
}
