.background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1449824913935-59a10b8d2000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
  background-position: center;
}

.gridcontainer {
  display: grid;
  grid-template-rows: 1.5fr 0.5fr 2.5fr;
  grid-template-columns: 10% 80% 10%;
  height: 100vh;
}

.centerpiece {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}
