.card {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  margin: 30px 0px;
  padding: 10px;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.card input {
  font-size: 20px;
  padding: 4px 5px;
  box-sizing: border-box;
  margin-bottom: 6px;
  margin-top: 6px;
}
