.card {
  border-radius: 8px;
  border-top: 6px solid var(--spark-1);
  box-shadow: 0px 0px 8px var(--shadow);
  margin-top: 30px;
  padding: 10px;
  background-color: white;
}

.card h2 {
  font-family: var(--font-mono);
}

.card div {
  margin-bottom: 0.7rem;
}

.card a {
  color: var(--spark-1);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: rgb(0, 0, 0);
  }
}
