.aligncenter {
  /* Align. */
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.centerbutton {
  /* Align. */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
